body{
    background-color: yellow;
    color: black
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dictionary{
    display: flex;
    justify-content: center;
    align-items: center;
    font: italic;
}
