body{
    background-color: rgb(255, 231, 123);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dictionary{
    display: flex;
    justify-content: center;
    align-items: center;
    font: italic;
}
